*{
    box-sizing: border-box;
}
body{
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1140px;
}
.header{
    background-color: #475d46;
    padding: 15px 0 10px;
}
.header__logo-img{
    height: 60px;
    border-radius: 50%;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navigation-list{
    display: flex;
}
.header__navigation-list li{
    list-style: none;
}
.header__navigation-list li:not(:first-child){
    margin-left: 50px;
}
.header__navigation-link{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    opacity: .7;
}
.header__navigation-link:hover{
    opacity: 1;
}
.header__search{
    display: flex;
}
.header__search-text{
    border: none;
    outline: none;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
}
.header__search-btn{
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    margin: 0 15px;
    padding: 0;
    cursor: pointer;
    opacity: .7;
}
.header__search-btn:hover{
    opacity: 1;
}
.portfolio{
    padding: 50px 0;
    background-color: #343c2e;
}
.portfolio__inner{
    display: flex;
    margin-bottom: 45px;
}
.portfolio__inner-img{
    width: 250px;
    margin-right: 50px;
    border-radius: 30px;
}
.portfolio__content-list{
    padding: 0;
}
.portfolio__content-list li{
    margin-bottom: 10px;
    margin-left: 30px;
}
.portfolio__info-list{
    margin-bottom: 15px;
}
.portfolio__info-link{
    opacity: .7;
}
.portfolio__info-link:hover{
    opacity: 1;
}
.footer{
    padding: 50px 0 30px;
    background-color: #1d1a1a;
}
.footer__inner{
    text-align: center;
}
.footer__social{
    margin-bottom: 25px;
}
.footer__social-item:not(:first-child){
    margin-left: 15px;
}
.footer__location-text{
    color: #9fd2be;
}
